<?xml version="1.0" encoding="UTF-8"?>
<tshirts>
   <categorys>
      <item>
         <category>Hombre</category>
         <id>1</id>
         <orden>0</orden>
      </item>
      <item>
         <category>Mujer</category>
         <id>2</id>
         <orden>0</orden>
      </item>
   </categorys>
   <designs>
      <item>
         <id>1</id>
         <img>beer_2012-16-05-06-46-59s6mhrfm.png</img>
         <orden>0</orden>
         <precio>10</precio>
         <title>Proba</title>
      </item>
      <item>
         <id>2</id>
         <img>cut-lemon_2012-16-05-06-47-08nl2eco.png</img>
         <orden>0</orden>
         <precio>0</precio>
         <title>VISA</title>
      </item>
      <item>
         <id>3</id>
         <img>banned-stamp-clipart_2012-16-05-06-46-43qqfieyf.png</img>
         <orden>0</orden>
         <precio>12</precio>
         <title>prueba</title>
      </item>
      <item>
         <id>4</id>
         <img>lemon-2_2012-16-05-06-47-21zdhn6a.png</img>
         <orden>0</orden>
         <precio>20</precio>
         <title>lemon</title>
      </item>
      <item>
         <id>5</id>
         <img>teacup_clipart_2012-16-05-06-47-52h9uxnz7.png</img>
         <orden>0</orden>
         <precio>20</precio>
         <title>tea</title>
      </item>
      <item>
         <id>6</id>
         <img>new-clipart1_2012-16-05-06-48-04smbhnh.png</img>
         <orden>0</orden>
         <precio>12</precio>
         <title>fd</title>
      </item>
   </designs>
   <help>
      <item>
         <id>1</id>
         <orden>0</orden>
         <text>&lt;p&gt;&lt;br /&gt;Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.&lt;br /&gt;Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.&amp;nbsp;?&lt;/p&gt;</text>
         <title>Devoluciones</title>
      </item>
      <item>
         <id>2</id>
         <orden>0</orden>
         <text>&lt;p&gt;&lt;br /&gt;Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.&lt;br /&gt;Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.&amp;nbsp;?&lt;/p&gt;</text>
         <title>Entrega</title>
      </item>
      <item>
         <id>3</id>
         <orden>0</orden>
         <text>&lt;p&gt;&lt;br /&gt;Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.&lt;br /&gt;Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.&amp;nbsp;?&lt;/p&gt;</text>
         <title>colorDefault</title>
      </item>
      <item>
         <id>4</id>
         <orden>0</orden>
         <text>Camisetas Brain</text>
         <title>textDefault</title>
      </item>
      <item>
         <id>9</id>
         <orden>0</orden>
         <text>4</text>
         <title>precioImagen</title>
      </item>
      <item>
         <id>8</id>
         <orden>0</orden>
         <text>info@camisetasbrain.com</text>
         <title>mailGetPedido</title>
      </item>
      <item>
         <id>10</id>
         <orden>0</orden>
         <text>4</text>
         <title>precioTexto</title>
      </item>
      <item>
         <id>11</id>
         <orden>0</orden>
         <text>1</text>
         <title>minCantidadPedido</title>
      </item>
      <item>
         <id>12</id>
         <orden>0</orden>
         <text>10</text>
         <title>maxCantidadPedido</title>
      </item>
   </help>
   <options>
      <colorDefault>black</colorDefault>
      <mailGetPedido>contacto@phpninja.info</mailGetPedido>
      <maxCantidadPedido>10</maxCantidadPedido>
      <maxFontSize>200</maxFontSize>
      <minCantidadPedido>1</minCantidadPedido>
      <minFontSize>25</minFontSize>
      <precioImagen>4</precioImagen>
      <precioTexto>4</precioTexto>
      <textDefault>Kustom!</textDefault>
   </options>
   <product>
      <back_img>detras2.png</back_img>
      <descriptionProduct>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</descriptionProduct>
      <front_img>delante2.png</front_img>
      <id>1</id>
      <imgProduct>687_giqsxw.jpeg</imgProduct>
      <orden>0</orden>
      <parentProduct>0</parentProduct>
      <price>10</price>
      <subcategory>1</subcategory>
      <titleProduct>Nota!</titleProduct>
   </product>
   <productsthumbs>
      <item>
         <front_img>delante2.png</front_img>
         <id>1</id>
      </item>
      <item>
         <front_img>delante3.png</front_img>
         <id>2</id>
      </item>
      <item>
         <front_img>delante4.png</front_img>
         <id>3</id>
      </item>
      <item>
         <front_img>captura_de_pantalla_2012-05-02_a_las_17.39.22_2012-02-05-08-40-227bs5fr7.png</front_img>
         <id>5</id>
      </item>
      <item>
         <front_img>captura_de_pantalla_2012-05-02_a_las_17.38.37_2012-02-05-08-40-51d64wimn.png</front_img>
         <id>6</id>
      </item>
   </productsthumbs>
   <subcategorys>
      <item>
         <category>1</category>
         <id>1</id>
         <orden>0</orden>
         <subCategory>Camisetas Hombre</subCategory>
      </item>
      <item>
         <category>1</category>
         <id>3</id>
         <orden>0</orden>
         <subCategory>Bañador</subCategory>
      </item>
   </subcategorys>
</tshirts>